$primary-color: #3B597D;
$primary-shade: #304864;

$secondary-color: #EDEDED;
$secondary-shade: #A6A6A6;

$highlight-color: #8EC63F;
$highlight-tint: #8EC63F;

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
}